<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>編集フォーム</title>
</head>
<body>
    <h2>お問い合わせ内容の編集</h2>
    <form th:action="@{/list/edit/{id}(id=${inquiryForm.id})}" th:object="${inquiryForm}" method="post">
        <label>メール: <input type="email" th:field="*{mail}" /></label><br/>
        <label>名前: <input type="text" th:field="*{name}" /></label><br/>
        <label>内容: <textarea th:field="*{content}"></textarea></label><br/>
        <button type="submit">更新</button>
    </form>
</body>
</html>
